/* label {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    padding-right: 1rem;
} */

select {
    padding: 5px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: peru;
    background-color: transparent;
}

option {
    padding: 15px 10px;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: olive;
    background-color: white;
}

option:hover {
    background-color: rebeccapurple;
}