select {
    padding: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: firebrick;
    background-color: transparent;
}

option {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: olive;
    background-color: yellow;
}